<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Practice Vue.js</title> 
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
  <script src="index.js" defer></script>
</head>
<body>
  <div id="app">
    <h2>{{ movies }}</h2>
    <div v-for="movie in movies">
      <p>{{movie}}</p>
    </div>
    <input type="text" v-model="newMovie">
    <div>
      <button v-on:click="addNewMovie()">Add Movie</button>
    </div>
    <div>
      <p v-if="movies.includes('Zoolander')"><img src="http://tny.im/kPs"></p>
    </div>
  </div>
</body>
</html>